@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&family=Spline+Sans+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  * { 
     padding: 0;
     margin: 0;
     border: 0; 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
      font-family: 'Poppins', sans-serif;
  }
  body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    text-align: left;
    background-color: #D1D3D2;
  }
  ol, ul {
      list-style: none;
      font-family: 'Poppins', sans-serif;
  }

ul,li{
      list-style: none;
      margin : 0;
      padding: 0;
      text-decoration:none;
      font-family: 'Poppins', sans-serif;
    }
    section,span,p{
        margin: 0;
        padding: 0;
        outline : none;
        border: none;
        font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 auto; 
    font-family: 'Poppins', sans-serif;
}
#header{
    background-image:url(img//wlp.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:50vh;
    font-family: 'Poppins', sans-serif;
}
.header-navbar{
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    display:flex;
    height: 100px;
    width: 100%;
    align-items:center;
    justify-content:space-between;
    padding:40px 0;
    font-family: 'Poppins', sans-serif;
    
}
.header-logo{
    font-size: 40px;
    letter-spacing: 7px;
    line-height: 100px;
    color:#a0a1a3;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;

}
 header ul{
   margin-right:20px;
   float: right;
   display: flex;
   font-family: 'Poppins', sans-serif;
}
header ul li {
    position: relative;
    margin: -50px 5px;
    display: inline-block;
    line-height:100px;
    font-family: 'Poppins', sans-serif;
    
}
header ul li a{
    color: #a0a3a1;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:300px;
    font-size: 18px;
    display: block;
  }


header ul li a:hover {
    color: #825943;
  }
  

.header-text{
 position: absolute;
 display:flex;
 top: 40%;
 left: 25%;
 transform: translateX(-40%) ;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 flex-wrap: wrap;
}
.header-text h3 p{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:60px;
    letter-spacing:7px;
    font-weight: 100px;
    color: #825943;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
}
#french{
    padding:20px 10px;
    margin:20px 20px;
}
.french h1{
    justify-content: center;
    text-align: center;
    display:flex;
    margin-top:10px;
    font-size:40px;
    font-weight:300px;
    color:#2f372e;
}




























  .footer h2{
    width: 90%;
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #cacbd0;
    font-weight: 600px;
    font-size: 40px;
    padding: 30px 0;
  }
  .footer h2::after{
    content: "";
    width:40px;
    height:4px;
    background-color: #cacbd0;
    margin:0 auto;
    display:block;
    margin-top: 10px;
  }
  .footer{
    background-color: #374136;
  }
  .footer-copy{
    color: #cacbd0;
    text-align: center;
    flex-basis: 55%;
    line-height: 2px;
    font-size:15px;
    margin-bottom: 25px;
  }
  .footer-content {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-social i{
     color:#cacbd0;
     margin-bottom: 20px;
     font-size:20px;
     padding: 0 25px;
     margin-bottom:30px;
  
  }
  /* footer */
  #menu-icon{
    font-size: 25px;
    display:none;
    margin-right:20px;
  }
  
  @media only screen and (max-width:700px){
     .header-text{
       width:100%;
       flex-direction: column;
      }
      .btn-coffee{
       flex-direction: column;
       margin-top: 10px;
    }
  
  
  }
  @media only screen and (max-width:800px){
    .header-menu ul{
      display:flex ;
      align-items:center;
      justify-content:center 5px;
      flex-direction: column;
      position:absolute;
      top:100px;
      right:0;
      background-color:#374136;
      width:40%;
      overflow:hidden;
      transition: max-height 0.5s;
    }
    .header-menu ul li{
      margin-right:20px;
      margin-top:5px;
      justify-content: 5px;
    }
    .header.menu ul li a{
      color:#cacbd0;
    }
    .header-menu #menu-icon{
      display:block;
      cursor: pointer;
    }
  
  }
